<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIView+Chick.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C9F59331CE5BCFA00D8693D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C9F594C1CE5BCFA00D8693D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C9F59571CE5BCFA00D8693D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
