<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>全部</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>子宫肌瘤</string>
			<string>盆腔炎</string>
			<string>不孕</string>
			<string>月经不调</string>
		</array>
		<key>name</key>
		<string>妇产科</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>皮肤科</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>狐臭</string>
			<string>胎记</string>
			<string>扁平</string>
			<string>黑色素瘤</string>
			<string>胰腺癌</string>
			<string>灰指甲</string>
			<string>湿疹</string>
		</array>
		<key>name</key>
		<string>泌尿外科</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>耳鼻咽喉科</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>神经内科</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>内分泌科</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>消化内科</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>普外科</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>肝胆外科</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>骨科</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>全部</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>全部</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>全部</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>全部</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>全部</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>全部</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>全部</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>全部</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>全部</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>糖尿病</string>
			<string>食管癌</string>
			<string>肝硬化</string>
			<string>胰腺癌</string>
			<string>肺癌</string>
			<string>乳腺癌</string>
			<string>胃癌</string>
			<string>冠心病</string>
			<string>肝癌</string>
		</array>
		<key>name</key>
		<string>全部</string>
	</dict>
</array>
</plist>
